/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');


/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

body{
    background-color: rgb(28, 91, 98);
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Abyssinica SIL', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin:auto;
    max-width: 800px;
    background-color: rgb(94, 169, 176);

      
    border-width: 5px;
    border-style: solid;
    border-radius: 50px;
    border-color: rgb(0, 0, 0);
    position:relative;
        top: 50px;
}

/* Set the apperance of the class, chart */
.chart{
    background-color:rgb(3, 50, 55);
    width:350px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    position:relative;
        left: 225px;


}
    
#chart1{
    background-color:rgb(3, 50, 55);
    width:560px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}

/* BUTTONS */

a{
    border: 5px;
    border-color: black;
    border-style: solid;
    position:relative;
        left: 100px;
        top: 10px;

    margin:20px
}


#link1{
    background-color: rgba(0, 47, 167, .5);

    padding:20px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    
    text-decoration: none;
}

#link2{
    background-color: rgba(0, 47, 167, .5);

    padding:20px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    
    text-decoration: none;

}

#link3{
    background-color: rgba(0, 47, 167, 0.1);

    padding:20px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 10px;


    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    
    text-decoration: none;
    
}

#link3:hover{

    background-color: rgba(0, 47, 167, 2);

    border:2px;
    border-color:rgb(36, 158, 72);
    border-style: solid;
    
}


#link4{
    background-color: yellow;

    padding:20px;
    
    border:20px;
    border-color:black;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:grey;
    
    text-decoration: none;

    animation: border-pulsate1 4s infinite;
}

.emphasized { font-style: italic; }